body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main_theme: #7286d3;
  --supporting_theme: #8ea7e9;
  --theme_2: #e5e0ff;
  --dim: #e6e6e6;
}

/* #7286D3
  #8EA7E9
  #E5E0FF
  #FFF2F2
*/
